<% for( let i=0; i < productos.length; i++ ) { %>
    <article class="producto-individual">
        <%if (productos[i].discountPercentage>0) { %> 
        <%- include ('./oferta.ejs', {descuento:productos[i].discountPercentage}) %>
        <% } %> 
        <figure>
            <a href="/producto/detalle/<%= productos[i].id %>" >
                <img src="/img/productos/<%= productos[i].image %>"
                    alt= <%= productos[i].name %>>
            </a>
        </figure>

        <div class="detalles-producto">
            <a href="producto/detalle/<%= productos[i].id %>" > 
                <strong class="descripcion"><%= productos[i].name %></strong>
            </a>
            <p class="precio">
                <%if (productos[i].discountPercentage>0) { %> 
                <span class="precio-descuento">$ <%= productos[i].price %></span>
                <% } %> 
                <span> $ <%= Math.round(productos[i].price * (1-(productos[i].discountPercentage/100))) %></span>
            </p>

            <div class="detalles-cantidad">
                <button type="" class="menos">-</button>
                <input type="number" value="1" min="1" max="15">
                <button class="mas">+</button>
                <button class="btn">Agregar <i class="fal fa-plus-circle"></i></button>
                <span class="errorInput">Ingrese un valor entre 1 y 15</span>
            </div>
        </div>
    </article>
<% } %>

<script src="/js/productFunctions.js"></script>