<!DOCTYPE html>
<html lang="en">
<head>
    <!------------ HEAD  ---------->
    <%- include  ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/detalle.css">
    <title>Productos | Pets</title>
</head>
<body>
    <!--HEADER -->
    <%- include  ('../partials/header.ejs') %>

    <!-- MAIN -->
    <main class="container w-100 h-100 top bg-white">
        <figure class="container p-4 w-100">
            <img class="imgProd" src="/img/productos/<%= producto.image %> " alt="<%= producto.name %>">
        </figure>
        <div class="detProd container">
            <h2 class="name text-center text-lg-nowrap"><%= producto.name %>.</h2>
            <h2 class="precioProd text-center mt-5 mb-5 fs-1 text-nowrap">$ <%= producto.price %></h2>
        </div>
        <div class="agregar row d-flex align-items-center mb-4">
            <button class="button col-6 mt-5 mt-lg-0" type="submit">AGREGAR AL CARRITO</button>
            <div class="detalles-cantidad detalleCant col-6 mt-5 mt-lg-0">
                <button type="" class="menos">-</button>
                <input type="text" value="1">
                <button class="mas">+</button>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <%- include  ('../partials/footer.ejs') %>
    <script src="/js/productFunctions.js"></script>
</body>
</html>